<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label t('.name') %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label t('.street_1') %>
    <%= f.text_field :street_1 %>
  </p>
  <p>
    <%= f.label t('.street_2') %>
    <%= f.text_field :street_2 %>
  </p>
  <p>
    <%= f.label t('.city') %>
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label t('.state') %>
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label t('.post_code') %> 
    <%= f.text_field :post_code %>
  </p>

  <p>
    <%= f.label t('.parent_id') %>
    <%= collection_select(:location, :parent_id, Location.all, :id, :name, {:include_blank => '---'}) %>
  </p>
  <p>
	<%= button_to t('.create_html') %>
  </p>
<% end %>
