<h1><%= t('.location_title') %></h1>

<p><%= link_to t('.new'), new_location_path %></a></p>

<ul>
<% @locations.each do |location| %>
  <li>
    <%= location.name %> (<%= pluralize(location.children.count, "location") %>)
    <%= link_to t('.show_html'), location %>
    <%= link_to t('.edit_html'), edit_location_path(location) %>
    <%= link_to t('.destroy_html'), location, confirm: 'Are you sure?', method: :delete %>
  </li>
<% end %>
</ul>