<h1>Locations</h1>

<p><%= link_to t('.new'), new_location_path %></a></p>

<ul>
<% @locations.each do |location| %>
  <li>
    <%= location.name %>
    <%= link_to 'Show', location %>
    <%= link_to 'Edit', edit_location_path(location) %>
    <%= link_to 'Destroy', location, confirm: 'Are you sure?', method: :delete %>
  </li>
<% end %>
</ul>