<% if @location.parent.present? %>
	<p><%= link_to 'view parent', @location.parent %></p>
<% end %>

<p>
  <b><%= @location.name %></b><br/>
  <%= @location.street_1 %><br/>
	<% if @location.street_2? %>
		<%= @location.street_2 %><br/>
	<% end %>
  <%= @location.city %>
  <%= @location.state %>,
  <%= @location.post_code %>
</p>

<% if @location.children.present? %>
	<%= location_tree @location %>
<% end %>

<%= link_to t('.edit_html'), edit_location_path(@location) %> |
<%= link_to t('.back_html'), locations_path %>
